<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<h2> {{ hello }} </h2>
This is Michael speaking...
<!-- Django template if condition -->
{% if condition1 and condition1.1 %}
   ... display 1
{% elif condition2 %}
   ... display 2
{% else %}
   ... display 3
{% endif %}

<!-- Django template for condition -->
<ul>
{% for athlete in athlete_list %}
    <li>{{ athlete.name }}</li>
{% endfor %}
</ul>

<!-- Django template nested for condition -->
{% for athlete in athlete_list %}
    <h1>{{ athlete.name }}</h1>
    <ul>
    {% for sport in athlete.sports_played %}
        <li>{{ sport }}</li>
    {% endfor %}
    </ul>
{% endfor %}

<!-- Django template if equal condition -->
{% ifequal section 'sitenews' %}
    <h1>Site News</h1>
{% else %}
    <h1>No News Here</h1>
{% endifequal %}

<!-- Django template comments -->
{# 这是一个注释 #}

<!-- Django template filter -->
{{ name|lower }}
{{ my_list|first|upper }}
{{ bio|truncatewords:"30" }}
{{ pub_date|date:"F j, Y" }}

<!-- Django template include tag -->
<!-- include 标签允许在模板中包含其它的模板的内容。-->
{% include "base.html" %}
</body>
</html>