<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>菜鸟教程(runoob.com)</title>
<!-- <link rel="stylesheet" href="/static/css/square.css" type="text/css"/> -->

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "/css/square.css" %}">
</head>
<body>
<!-- 
以下代码中，名为 mainbody 的 block 标签是可以被继承者们替换掉的部分。
所有的  block  标签告诉模板引擎，子模板可以重载这些部分。
 -->    
 	<h1>Hello World!</h1>

    <div id='first'></div>
    <div id='second'></div>
    <div id='third'></div>
    <br>
<!-- 
在border法中，它由三部分组成，分别是左三角形、矩形、右三角形。
如果每次绘制平行四边形都要创建三个元素显然过于麻烦了，所以在这里:before和
:after伪元素是个不错的选择。下面我们实现一下这样的效果
 -->
 	<h3>第一种方法：利用border</h3>
	<div class="para">1</div>
	<div class="para">2</div>
	<div class="para">3</div>

 	<h3>第二种方法：利用transform</h3>
 	<div class="city">
		<span>上海</span>
	</div>
	<div class="city">
		<span>北京</span>
	</div>
	<div class="city">
		<span>杭州</span>
	</div>
    
    <p>Django 测试。</p>
    {% block mainbody %}
       <p>original</p>
    {% endblock %}
</body>
</html>